
.total {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
}

.mission {
    font-weight: 400;
    font-size: 3rem;
}

.paragraph {
    padding: 0 7rem 0 7rem;
}