.congrats {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 50px;
  margin-top: 50px;
  opacity: 0; /* Set initial opacity to 0 */
  transform: translateX(-100%); /* Start position outside the left edge */
  animation: flyIn 1s ease forwards; /* Apply fly-in animation */
}

@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Start position outside the left edge */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End position at the center */
  }
}

.viewport {
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Adjust the height as needed */
  padding: 20px;
}

.topUsers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.gold {
  color: #ffd700; /* Gold color */
}

.silver {
  color: #c0c0c0; /* Silver color */
}

.bronze {
  color: #cd7f32; /* Bronze color */
}

.userCard {
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.userCard:nth-child(2) {
  align-self: flex-start;
  height: 350px;
}

.userCard:nth-child(1) {
  align-self: flex-end;
  height: 300px;
}

.userCard:nth-child(3) {
  align-self: flex-end;
  height: 250px;
}

.badgeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50%;
  background-color: var(--main-blue);
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
  position: relative;
}

.rankIcon {
  font-size: 70px;
  margin-top: 5px;
  margin-bottom: 25px;
  animation: fadeIn 1s ease forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(-100%); /* Start position above the element */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
    transform: translateY(0); /* End position at the original position */
  }
}

.username {
  font-weight: bold;
  color: var(--main-blue);
}

.nextUsers {
  width: 1000px;
  margin-top: 20px;
  border-radius: 10px;
}

.nextUsers th {
  font-weight: bold;
  text-align: left;
  padding: 8px;
  background-color: #f2f2f2;
}

.nextUsers td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.nextUsers tr:nth-child(even) {
  background-color: #f9f9f9;
}

.nextUsers tr:hover {
  background-color: #f5f5f5;
}
