.carouselItem {
  display: inline-block !important;
  width: auto !important;
  /* padding: 0 !important; */
  margin: 5px !important;
  align-items: center;
  /* text-align: center; */
}

.carouselContainer {
  display: inline-block !important;
  width: 600px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 50px;
}

.avatarImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.active {
  border-radius: 50px;
  background-color: var(--main-blue);
}

.avatarWrapper {
  position: relative;
}

.productifyLockIcon {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.paragraph {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tradeButton {
  font-size: 18px !important;
  font-weight: 600 !important;
  background-color: var(--main-blue) !important;
  border: none !important;
  align-items: center;
  margin-top: 20px;
}

.tradeButton:hover {
  background-color: #fbe7f8 !important;
  color: var(--main-blue) !important;
  transform: translateY(-5px);
}

.buttonContainer {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
  margin-left: 100px;
}
