.viewport {
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  font-family: 'Montserrat';
  height: auto; /* Adjust the height as needed */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 80px;
  padding: 20px;
}

.sidebar {
  width: 400px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  background-color: whitesmoke;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.image {
  text-align: center;
  border-radius: 200px;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  transition: transform 0.2s ease-in-out;
}

.image:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.paragraph {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: x-large;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  background-color: whitesmoke;
  text-align: center;
  width: 1100px;
}

/* .tradeButton {
  margin-right: 30px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  border: none;
}

.tradeButton:hover {
  background-color: #caf0f8;
  transform: translateY(-5px);
} */

.btn-primary {
  margin-right: 30px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  border: none;
}

.btn-primary:hover {
  background-color: #caf0f8;
  transform: translateY(-5px);
}
