.viewport {
  background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
  font-family: 'Montserrat';
  height: auto;
}

.pageTitle {
  font-size: 3rem;
  font-weight: 600;
  color: black;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.customization {
  display: flex;
  align-items: flex-start;
  /* height: 100%; */
  gap: 30px;
  padding: 20px;
}

.right {
  flex: 1;
}

.sidebar {
  flex: 1;
  padding: 50px;

  margin-left: 50px;
  background-image: url(../../assets/images/baby.jpeg);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pointTitle {
  padding-bottom: 30px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-blue);
  text-align: center;
}

.cardContainer {
  border-radius: 50px !important;
  background-color: whitesmoke !important;
  padding: 20px;
  margin-right: 50px;
  display: flex;
  max-width: 800px;
  margin-bottom: 30px;
  /* flex-direction: column; */
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.image {
  text-align: center;
  border-radius: 200px;
  background-color: #aacaef;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 40px;
  max-height: 300px;
}

.image:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.paragraph {
  font-family: 'Montserrat';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tablecontainer {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  width: 150px;
}

.value {
  margin-left: 10px;
}

.myBio {
  /* color: var(--main-blue); */
  font-style: italic;
  text-align: justify;
}

.card {
  background-color: whitesmoke;
  text-align: center;
  width: 1100px;
}

.tradeButton {
  font-size: 18px !important;
  font-weight: 600 !important;
  background-color: var(--main-blue) !important;
  border: none !important;
  align-items: center;
  margin-top: 20px;
}

.tradeButton:hover {
  background-color: #fbe7f8 !important;
  color: var(--main-blue) !important;
  transform: translateY(-5px);
}

.buttonContainer {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wheel canvas {
  width: 1000px;
  margin-bottom: -180px !important;
  margin-top: -50px !important;
}

.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 400px;
  padding: 0;
}
