.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.labelFormTitle {
  border-bottom: 2px solid;
}

.labelForm {
  background-color: white;
  padding: 20px;
  max-height: 50rem;

  /* height: 40%; */
  width: 22rem;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-height: 30rem;
  overflow-y: auto;
}

.labelForm:hover {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 50%;
}

.closeButton:hover {
  background-color: #ced4da;
}

.submitContainer {
  display: flex;
  justify-content: flex-end;
}

.ModalTitle {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 10%;
  width: 100%;
  background-color: whitesmoke;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  justify-content: flex-end; /* This will move the button to the right */
}

.submitButton {
  margin-left: 20px;
  background-color: var(--main-blue);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  justify-content: end;
  display: flex;
}

.submitButton:hover {
  background-color: #8cb9eb;
}

.icon {
  margin-right: 10px;
  color: var(--main-blue);
}

.input {
  width: 100%;
  padding: 8px;
  border-bottom: 2px solid whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.input:hover {
  border-color: var(--main-blue);
}

.input:focus {
  outline: none;
  border-color: var(--main-blue);
}

/* .inputContainer {
  margin-bottom: 10px;
} */

.columns {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
}

.columnLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.columnTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  color: var(--main-blue);
}

.columnInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customDropdown {
  position: relative;
  width: 100%;
}

.dropdownLabel {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  border: 2px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownLabel:hover {
  border-color: var(--main-blue);
}

.dropdownOptions {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: white;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  display: none;
}

.customDropdown:hover .dropdownOptions {
  display: block;
}

.dropdownOption {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdownOption:hover {
  background-color: #f1f1f1;
}

.dropdownOptions::after {
  content: '';
  flex-grow: 9999;
}

.labelColor {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}
