.container {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
}

.dayViewHeader {
  font-weight: 600;
  margin-bottom: 20px;
}

.dayView_grid {
  height: 600px;
  background-color: white;
}

.dayView_gridWrapper {
  display: flex;
  height: 100%;
}

.dayView_gridSideTime {
  width: 50px;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}

.dayView_gridSideTime div {
  font-size: 13px;
  height: 50px;
  text-align: center;
  position: relative;
  top: 25px;
}

.dayView_gridMain {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--main-grey);
  height: 100%;
  width: 100%;
  align-items: stretch;
}

.hourLine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--main-grey);
}

.eventDetails {
  background-color: var(--main-blue);
  border-radius: 10px;
  z-index: 1;
  color: white;
  height: 100%;
  border: 2px solid white;
  width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  right: 0;
  font-size: 13px;
}

.eventDetails:hover {
  background-color: #6485ad;
  cursor: pointer;
}

.boxInDayView {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
}

.eventTitle {
  font-size: 18px;
}
