.box_day {
    border-collapse: collapse; 
    height: 3rem;
    width: 3rem;
  }
  
  .test {
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  
  .today {
    border: none;
    background-color: var(--main-blue);
    border-radius: 50%;
    width: 32px; 
    height: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
  }

  .day:hover {
    background-color: var(--main-grey); /* Change the background color on hover */
    color: white; /* Change the text color on hover */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
  }