.box_day {
    border: solid #dedede;
    border-collapse: collapse;
    height: 3rem;
    width: 3rem;
  }
  
  .test {
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  
  .today {
    border: none;
    background-color: #aacaef;
    border-radius: 50%;
    width: 32px; /* Adjust the width to make the circle bigger */
    height: 32px; /* Adjust the height to make the circle bigger */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }