.box_day {
    border-collapse: collapse; */
    height: 3rem;
    width: 3rem;
  }
  
  .test {
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  
  .today {
    border: none;
    background-color: #aacaef;
    border-radius: 50%;
    width: 32px; 
    height: 32px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }