.button {
  width: 100px; 
  height: 100px; 
  background-color: #aacaef;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
  outline: none;
  border-radius: 10%;
  margin-left: 80px;
  padding: 0;
}

.button:hover {
  color: #fff; /* Change the text color on hover */
  border: 5px solid #fff;
}
