.invitationBoxButton {
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 20px;
  color: #000;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10%;
  transition: background-color 0.5s ease;
  border: 2px solid #aacaef;
  width: 200px;
}

.invitationBoxButton:hover {
  background-color: #aacaef;
  color: #fff;
}